---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/ui/Card.astro'
import type { Props as CardProps } from '@/components/ui/Card.astro';

import { TrendingDown, ChevronsDownUp, LineDotRightHorizontal } from '@lucide/astro'

const operations: CardProps[] = [
	{
		slug: "newton-raphson",
		title: "Newton-Raphson",
		description: "Un método poderoso para encontrar raíces utilizando la derivada de la función para una convergencia rápida y cuadrática cerca de la solución.",
		Icon: TrendingDown,
		variant: "primary"
	},
	{
		slug: "bisection",
		title: "Bisection Method",
		description: "Un método robusto y fiable basado en el Teorema del Valor Intermedio que divide repetidamente el intervalo por la mitad para atrapar la raíz.",
		Icon: ChevronsDownUp,
		variant: "secondary" 
	},
	{
		slug: "secant",
		title: "Secant Method",
		description: "Una alternativa elegante a Newton-Raphson que elimina la necesidad de diferenciación manual mediante el uso de diferencias finitas.",
		Icon: LineDotRightHorizontal,
		variant: "tertiary"
	} 
];
---

<Layout title='MathMethods'>

	<main class="flex flex-col gap-8 h-fit w-full px-24 py-8">
		<header class="flex flex-col">
			<span class="text-base tracking-wider font-bold text-primary">ANÁLISIS NUMÉRICO</span>
			<h1 class="mb-2 text-4xl tracking-tighter font-semibold">Métodos de búsqueda de raíces</h1>
			<p class="text-lg">Selecciona un método numérico para resolver ecuaciones</p>
		</header>

		<div class="grid grid-cols-3 gap-4">

			{operations.map((operation) => {
				return (
					<Card 
						slug={operation.slug}
						title={operation.title}
						description={operation.description}
						Icon={operation.Icon}
						variant={operation.variant}
					/>
				);
			})}

		</div>
	</main>
</Layout>

